name: Java Ci with Maven

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  build:
    runs-on: self-hosted

    steps:
      - uses: actions/checkout@v4
      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: maven

      - name: Run unit tests
        working-directory: todo-api
        run: mvn test

      - name: Build with Maven
        working-directory: todo-api
        run: mvn -B publish

      - name: Publish test reports
        working-directory: todo-api
        with:
          name: surefire-test-reports
          path: todo-api/target/surefire-reports
